<div class="header pb-6">
  <div class="container-fluid">
    <div class="header-body">
      <div class="row align-items-center py-4">
        <div class="col-lg-6 col-7">
          <h6 class="h2 text-dark d-inline-block mb-0">Dashboard</h6>

          <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
            <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
              <li class="breadcrumb-item">
                <a href="javascript:void(0)">
                  <i class="fas fa-home text-dark"> </i>
                </a>
              </li>
            </ol>
          </nav>
        </div>
      </div>

      <div class="row">
        <div class="col-xl-3 col-md-6">
          <div class="card card-stats card-lift--hover shadow border-0">
            <div class="card-body">
              <div class="row">
                <div class="col text-center">
                  <h5
                    class="card-title text-uppercase text-muted mb-0 text-center"
                  >
                    Total
                  </h5>
                  <br />

                  <span class="h2 font-weight-bold mb-0 text-center"> 3 </span>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-xl-3 col-md-6">
          <div class="card card-stats card-lift--hover shadow border-0">
            <div class="card-body">
              <div class="row">
                <div class="col text-center">
                  <h5
                    class="card-title text-uppercase text-muted mb-0 text-center"
                  >
                    Total
                  </h5>
                  <br />

                  <span class="h2 font-weight-bold mb-0 text-center"> 2 </span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-md-6">
          <div class="card card-stats card-lift--hover shadow border-0">
            <div class="card-body">
              <div class="row">
                <div class="col text-center">
                  <h5
                    class="card-title text-uppercase text-muted mb-0 text-center"
                  >
                    Total
                  </h5>
                  <br />

                  <span class="h2 font-weight-bold mb-0 text-center"> 2 </span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-md-6">
          <div class="card card-stats card-lift--hover shadow border-0">
            <div class="card-body">
              <div class="row">
                <div class="col text-center">
                  <h5
                    class="card-title text-uppercase text-muted mb-0 text-center"
                  >
                    Total
                  </h5>
                  <br />

                  <span class="h2 font-weight-bold mb-0 text-center"> 2 </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid mt--6">
  <div class="row">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header bg-secondary">
          <h6 class="text-muted text-uppercase ls-1 mb-1">Chart</h6>
          <h5 class="h3 mb-0">
            Activities
          </h5>
        </div>
        <div class="card-body">
          <div class="chart">
            <div id="chartDashboard4" style="width: 100%; height: 100%;"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-header bg-secondary">
          <h6 class="text-muted text-uppercase ls-1 mb-1">Chart</h6>
          <h5 class="h3 mb-0">
            Project Performance
          </h5>
        </div>
        <div class="card-body">
          <div class="chart">
            <div id="chartDashboard1" style="width: 100%; height: 100%;"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-header bg-secondary">
          <h6 class="text-muted text-uppercase ls-1 mb-1">Chart</h6>
          <h5 class="h3 mb-0">
            Project Performance
          </h5>
        </div>
        <div class="card-body">
          <div class="chart">
            <div id="chartDashboard2" style="width: 100%; height: 100%;"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="card-header bg-secondary">
          <h6 class="text-muted text-uppercase ls-1 mb-1">Chart</h6>
          <h5 class="h3 mb-0">
            Asset Value
          </h5>
        </div>
        <div class="card-body">
          <div class="chart">
            <div id="chartDashboard3" style="width: 100%; height: 100%;"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-header bg-secondary">
          <h6 class="text-muted text-uppercase ls-1 mb-1">News</h6>
          <h5 class="h3 mb-0">News</h5>
        </div>
        <div class="card-body p-0">
          <div class="list-group list-group-flush">
            <a
              class="list-group-item list-group-item-action flex-column align-items-start py-4 px-4"
              href="javascript:void(0)"
            >
              <div class="d-flex w-100 justify-content-between">
                <div>
                  <div class="d-flex w-100 align-items-center">
                    <h5 class="mb-1">News 1</h5>
                  </div>
                </div>

                <small> 2 hrs ago </small>
              </div>
              <p class="text-sm mb-0">
                After COVID-19, what is the future of health care for older
                Americans?
              </p>
            </a>

            <a
              class="list-group-item list-group-item-action flex-column align-items-start py-4 px-4"
              href="javascript:void(0)"
            >
              <div class="d-flex w-100 justify-content-between">
                <div>
                  <div class="d-flex w-100 align-items-center">
                    <h5 class="mb-1">News 2</h5>
                  </div>
                </div>

                <small> 1 day ago </small>
              </div>

              <p class="text-sm mb-0">
                After COVID-19, what is the future of health care for older
                Americans?
              </p>
            </a>

            <a
              class="list-group-item list-group-item-action flex-column align-items-start py-4 px-4"
              href="javascript:void(0)"
            >
              <div class="d-flex w-100 justify-content-between">
                <div>
                  <div class="d-flex w-100 align-items-center">
                    <h5 class="mb-1">News 3</h5>
                  </div>
                </div>

                <small> 2 hrs ago </small>
              </div>
              <p class="text-sm mb-0">
                After COVID-19, what is the future of health care for older
                Americans?
              </p>
            </a>

            <a
              class="list-group-item list-group-item-action flex-column align-items-start py-4 px-4"
              href="javascript:void(0)"
            >
              <div class="d-flex w-100 justify-content-between">
                <div>
                  <div class="d-flex w-100 align-items-center">
                    <h5 class="mb-1">News 4</h5>
                  </div>
                </div>

                <small> 1 day ago </small>
              </div>

              <p class="text-sm mb-0">
                After COVID-19, what is the future of health care for older
                Americans?
              </p>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div> -->
</div>
