<div class="header pb-6">
  <div class="container-fluid">
    <div class="header-body">
      <div class="row align-items-center py-4">
        <!-- <div class="col-lg-6 col-7">
          <h6 class="h2 text-dark d-inline-block mb-0">
            Climate
          </h6>
          <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
            <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
              <li class="breadcrumb-item">
                <a href="javascript:void(0)">
                  <i class="fas fa-file text-dark"></i>
                </a>
              </li>
            </ol>
          </nav>
        </div> -->
        <!-- <div class="col-lg-6 col-5 text-right">
          <a
            href="javascript:void(0)"
            class="btn btn-sm btn-default"
            (click)="openModal(addModal, undefined)"
          >
            Add Presentment
          </a>
        </div> -->
      </div>
    </div>
  </div>
</div>

<div class="container-fluid mt--6">

  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-header bg-secondary">
          <div class="row">
            <div class="col">Chart</div>
            <div class="col text-right">
              <button
                class="btn btn-default btn-sm"
                (click)="successAlert('print report')"
              >
                Print
              </button>
            </div>
          </div>
        </div>
        <div style="width: 100%; height: 500px;" id="chartCLimate1"></div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-header bg-secondary">
          <div class="row">
            <div class="col">Chart</div>
            <div class="col text-right">
              <button
                class="btn btn-default btn-sm"
                (click)="successAlert('print report')"
              >
                Print
              </button>
            </div>
          </div>
        </div>
        <div style="width: 100%; height: 400px;" id="chartCLimate3"></div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="card-header bg-secondary">
          <div class="row">
            <div class="col">Chart</div>
            <div class="col text-right">
              <button
                class="btn btn-default btn-sm"
                (click)="successAlert('print report')"
              >
                Print
              </button>
            </div>
          </div>
        </div>
        <div style="width: 100%; height: 400px;" id="chartCLimate4"></div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="card-header bg-secondary">
          <div class="row">
            <div class="col">Chart</div>
            <div class="col text-right">
              <button
                class="btn btn-default btn-sm"
                (click)="successAlert('print report')"
              >
                Print
              </button>
            </div>
          </div>
        </div>
        <div style="width: 100%; height: 400px;" id="chartCLimate5"></div>
      </div>
    </div>
  </div>
  
</div>

<ng-template #addModal>
  <div class="modal-header bg-default">
    <h6>Add Template</h6>

    <button
      aria-label="Close"
      class="close"
      data-dismiss="modal"
      type="button"
      (click)="closeModal()"
    >
      <span aria-hidden="true" class="text-white my-auto"> × </span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <label class="form-control-label">Message</label>
      <quill-editor></quill-editor>
    </div>
    <div class="form-group">
      <label class="form-control-label">Logo</label>
      <input class="form-control" type="file" />
    </div>
    <div class="form-group">
      <label class="form-control-label">Icon</label>
      <input class="form-control" type="file" />
    </div>
    <div class="form-group">
      <label class="form-control-label">Picture</label>
      <input class="form-control" type="file" />
    </div>
    <div class="form-group">
      <label class="form-control-label">Color</label>
      <input class="form-control" placeholder="Enter Name" type="text" />
    </div>

    <div class="form-group">
      <label class="form-control-label">Customer Segment</label>
      <select class="form-control" type="text">
        <option>Consumer</option>
        <option>SME</option>
        <option>TMOne</option>
        <option>Global</option>
      </select>
    </div>

    <div class="form-group">
      <label class="form-control-label">Product And Service</label>
      <select class="form-control" type="text">
        <option>unifi</option>
        <option>voice</option>
        <option>unifi mobile</option>
      </select>
    </div>

    <div class="form-group">
      <label class="form-control-label">Festive Seasons</label>
      <select class="form-control" type="text">
        <option>Hari Raya</option>
        <option>Chinese New Year</option>
        <option>Deepavali</option>
      </select>
    </div>
  </div>
  <div class="modal-footer">
    <div class="text-center">
      <button class="btn btn-default" (click)="successAlert('add new data')">
        Save
      </button>
      <button
        class="btn btn-outline-danger ml-auto"
        data-dismiss="modal"
        type="button"
        (click)="closeModal()"
      >
        Close
      </button>
    </div>
  </div>
</ng-template>

<ng-template #viewModal>
  <div class="modal-header bg-default">
    <h6 class="modal-title text-white my-auto" id="modal-title-default">
      View Template
    </h6>

    <button
      aria-label="Close"
      class="close"
      data-dismiss="modal"
      type="button"
      (click)="closeModal()"
    >
      <span aria-hidden="true" class="text-white my-auto"> × </span>
    </button>
  </div>

  <div class="modal-body">
    <img width="100%" src="assets/img/default/invoice-tem.png" />
  </div>

  <div class="modal-footer">
    <div class="text-center">
      <button class="btn btn-default" (click)="successAlert('add new data')">
        Save
      </button>
      <button
        class="btn btn-outline-danger ml-auto"
        data-dismiss="modal"
        type="button"
        (click)="closeModal()"
      >
        Close
      </button>
    </div>
  </div>
</ng-template>

<ng-template #editModal>
  <div class="modal-header bg-default">
    <h6 class="modal-title text-white my-auto" id="modal-title-default">
      Edit Template
    </h6>

    <button
      aria-label="Close"
      class="close"
      data-dismiss="modal"
      type="button"
      (click)="closeModal()"
    >
      <span aria-hidden="true" class="text-white my-auto"> × </span>
    </button>
  </div>

  <div class="modal-body">
    <div class="form-group">
      <label class="form-control-label">Message</label>
      <quill-editor></quill-editor>
    </div>
    <div class="form-group">
      <label class="form-control-label">Logo</label>
      <input class="form-control" type="file" />
    </div>
    <div class="form-group">
      <label class="form-control-label">Icon</label>
      <input class="form-control" type="file" />
    </div>
    <div class="form-group">
      <label class="form-control-label">Picture</label>
      <input class="form-control" type="file" />
    </div>
    <div class="form-group">
      <label class="form-control-label">Color</label>
      <input class="form-control" placeholder="Enter Name" type="text" />
    </div>

    <div class="form-group">
      <label class="form-control-label">Customer Segment</label>
      <select class="form-control" type="text">
        <option>Consumer</option>
        <option>SME</option>
        <option>TMOne</option>
        <option>Global</option>
      </select>
    </div>

    <div class="form-group">
      <label class="form-control-label">Product And Service</label>
      <select class="form-control" type="text">
        <option>unifi</option>
        <option>voice</option>
        <option>unifi mobile</option>
      </select>
    </div>
    <div class="form-group">
      <label class="form-control-label">Product And Service</label>
      <select class="form-control" type="text">
        <option>unifi</option>
        <option>voice</option>
        <option>unifi mobile</option>
      </select>
    </div>

    <div class="form-group">
      <label class="form-control-label">Festive Seasons</label>
      <select class="form-control" type="text">
        <option>Hari Raya</option>
        <option>Chinese New Year</option>
        <option>Deepavali</option>
      </select>
    </div>
  </div>

  <div class="modal-footer">
    <div class="text-center">
      <button class="btn btn-default" (click)="successAlert('edit data')">
        Save
      </button>
      <button
        class="btn btn-outline-danger ml-auto"
        data-dismiss="modal"
        type="button"
        (click)="closeModal()"
      >
        Close
      </button>
    </div>
  </div>
</ng-template>
