<div class="header pb-6">
  <div class="container-fluid">
    <div class="header-body">
      <div class="row align-items-center py-4">
        <div class="col-lg-6 col-7">
          <h6 class="h2 text-dark d-inline-block mb-0">
            Work Order
          </h6>

          <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
            <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
              <li class="breadcrumb-item">
                <a href="javascript:void(0)">
                  <i class="fas fa-user-shield text-dark"></i>
                </a>
              </li>
            </ol>
          </nav>
        </div>
        <div class="col-lg-6 col-5 text-right">
          <a
            href="javascript:void(0)"
            class="btn btn-sm btn-default"
            (click)="openModal(addModal, undefined)"
          >
            Add Work Order
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid mt--6">
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-header bg-secondary">
          <h3 class="m-0">Asset Type</h3>
        </div>
        <div style="width: 100%; height: 400px;" id="chartScheduler1"></div>
      </div>
    </div>

    <div class="col">
      <div class="card">
        <div class="card-header bg-secondary">
          <h3 class="m-0">Work Order</h3>
        </div>
        <div style="width: 100%; height: 400px;" id="chartScheduler2"></div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-header bg-secondary">
          <h3 class="m-0">Work Order List</h3>
        </div>
        <div class="dataTables_wrapper py-4">
          <div class="row">
            <div class="col-sm-12 col-md-6">
              <div class="dataTables_length" id="datatable_length">
                <label>
                  Show
                  <select
                    name="datatable_length"
                    aria-controls="datatable"
                    class="form-control form-control-sm"
                    (change)="entriesChange($event)"
                  >
                    <option value="5">5</option>
                    <option value="10">10</option>
                    <option value="15">15</option>
                    <option value="-1">All</option>
                  </select>
                  records
                </label>
              </div>
            </div>
          </div>

          <ngx-datatable
            class="bootstrap selection-cell"
            [columnMode]="'force'"
            [headerHeight]="50"
            [footerHeight]="50"
            [rowHeight]="'auto'"
            [limit]="tableEntries != -1 ? tableEntries : undefined"
            [rows]="listData"
            (activate)="onActivate($event)"
          >
            <ngx-datatable-column name="No">
              <ng-template
                let-rowIndex="rowIndex"
                let-row="row"
                ngx-datatable-cell-template
              >
                <strong>{{ rowIndex + 1 }}</strong>
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column>
              <ng-template ngx-datatable-header-template>
                <span>Running No</span>
              </ng-template>
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{ row.id }}
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column>
              <ng-template ngx-datatable-header-template>
                <span>Work Order</span>
              </ng-template>
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{ row.name }}
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column>
              <ng-template ngx-datatable-header-template>
                <span>Text</span>
              </ng-template>
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{ row.text }}
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column>
              <ng-template ngx-datatable-header-template>
                <span>Asset Type</span>
              </ng-template>
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{ row.type }}
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column>
              <ng-template ngx-datatable-header-template>
                <span>Status</span>
              </ng-template>
              <ng-template let-row="row" ngx-datatable-cell-template>
                <span *ngIf="row.status == 'AC'" class="badge badge-warning"
                  >Active</span
                >
                <span *ngIf="row.status == 'RE'" class="badge badge-info"
                  >Reviewed</span
                >
                <span *ngIf="row.status == 'AP'" class="badge badge-success"
                  >Approved</span
                >
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column>
              <ng-template ngx-datatable-header-template>
                <span>Created</span>
              </ng-template>
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{ row.created_at | date: "dd/MM/yyyy" }}
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column>
              <ng-template ngx-datatable-header-template>
                <span></span>
              </ng-template>
              <ng-template let-row="row" ngx-datatable-cell-template>
                <a (click)="openModal(editModal, row)" style="cursor: pointer;">
                  <button class="btn btn-default btn-sm">
                    <i class="fas fa-edit"></i>
                  </button> </a
                >&nbsp;
                <span *ngIf="row.status == 'Approved'">
                  <button class="btn btn-info btn-sm">
                    <i class="fa fa-eye"></i>
                  </button>
                </span>
              </ng-template>
            </ngx-datatable-column>
          </ngx-datatable>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #addModal>
  <div class="modal-header bg-default">
    <h6 class="modal-title text-white my-auto" id="modal-title-default">
      Add Work Order
    </h6>

    <button
      aria-label="Close"
      class="close"
      data-dismiss="modal"
      type="button"
      (click)="closeModal()"
    >
      <span aria-hidden="true" class="text-white my-auto"> × </span>
    </button>
  </div>

  <div class="modal-body">
    <div class="form-group">
      <label class="form-control-label">Name</label>
      <input class="form-control" placeholder="Enter Name" type="text" />
    </div>
    <div class="form-group">
      <label class="form-control-label">Defect List</label>
      <select class="form-control">
        <option>Defect 1</option>
        <option>Defect 2</option>
        <option>Defect 3</option>
      </select>
    </div>
    <div class="form-group">
      <label class="form-control-label">Asset Type</label>
      <select class="form-control">
        <option>Micro Pile</option>
        <option>Bore Pile</option>
        <option>Crosshead</option>
        <option>Beam</option>
        <option>Parapet</option>
        <option>Caisson Pile</option>
        <option>Pile Cap</option>
      </select>
    </div>

    <div class="form-group">
      <label class="form-control-label">Rectification Activity</label>
      <textarea
        class="form-control"
        placeholder="Enter Name"
        type="text"
        rows="3"
      ></textarea>
    </div>

    <div class="form-group">
      <label class="form-control-label">Budget Type</label>
      <select class="form-control">
        <option>Incremental</option>
        <option>Activity Based</option>
        <option>Value Proposation</option>
      </select>
    </div>

    <div class="form-group">
      <label class="form-control-label">Budget</label>
      <input class="form-control" type="text" />
    </div>
  </div>

  <div class="modal-footer">
    <div class="text-center">
      <button class="btn btn-default" (click)="successAlert('add new alert')">
        Save
      </button>
      <button
        class="btn btn-outline-danger ml-auto"
        data-dismiss="modal"
        type="button"
        (click)="closeModal()"
      >
        Close
      </button>
    </div>
  </div>
</ng-template>

<ng-template #editModal>
  <div class="modal-header bg-default">
    <h6 class="modal-title text-white my-auto" id="modal-title-default">
      Edit Work Order
    </h6>

    <button
      aria-label="Close"
      class="close"
      data-dismiss="modal"
      type="button"
      (click)="closeModal()"
    >
      <span aria-hidden="true" class="text-white my-auto"> × </span>
    </button>
  </div>

  <div class="modal-body">
    <div class="form-group">
      <label class="form-control-label">Name</label>
      <input class="form-control" placeholder="Enter Name" type="text" />
    </div>
    <div class="form-group">
      <label class="form-control-label">Defect List</label>
      <select class="form-control">
        <option>Defect 1</option>
        <option>Defect 2</option>
        <option>Defect 3</option>
      </select>
    </div>
    <div class="form-group">
      <label class="form-control-label">Asset Type</label>
      <select class="form-control">
        <option>Micro Pile</option>
        <option>Bore Pile</option>
        <option>Crosshead</option>
        <option>Beam</option>
        <option>Parapet</option>
        <option>Caisson Pile</option>
        <option>Pile Cap</option>
      </select>
    </div>

    <div class="form-group">
      <label class="form-control-label">Rectification Activity</label>
      <textarea
        class="form-control"
        placeholder="Enter Name"
        type="text"
        rows="3"
      ></textarea>
    </div>

    <div class="form-group">
      <label class="form-control-label">Budget Type</label>
      <select class="form-control">
        <option>Incremental</option>
        <option>Activity Based</option>
        <option>Value Proposation</option>
      </select>
    </div>

    <div class="form-group">
      <label class="form-control-label">Budget</label>
      <input class="form-control" type="text" />
    </div>
  </div>

  <div class="modal-footer">
    <div class="text-center">
      <button class="btn btn-default" (click)="successAlert('edit alert')">
        Save
      </button>
      <button
        class="btn btn-outline-danger ml-auto"
        data-dismiss="modal"
        type="button"
        (click)="closeModal()"
      >
        Close
      </button>
    </div>
  </div>
</ng-template>
